*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
.DS_Store
*.swp
*~


# Others
/docs
AGENTS.md
GEMINI.md
Dev-LAB/
app/src/main/res/font/olds/
key.properties
release.jks
*.jks
*.keystore
app/release/
